 
   <header id="header-style-1" class="header_center">
        <div class="container">
            <div class="text-center clearfix logo_center" id="escudoLogo">
                <a href="/index.html" class="navbar-brand">
                    <img id="escudo" class="img-reponsive" src="/imagenes/logo.png">
                </a>
            </div>          
            <nav class="navbar yamm navbar-default">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
                        SECCIONES
                    </button>
                </div><!-- end navbar-header -->
                
                <div id="navbar-collapse-1" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">El Instituto <div class="arrow-up"></div></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="yamm-content">
                                    <div class="row">
                                        <ul class="col-sm-4">
                                            <li><h3><i class="fa fa-university"></i> Información general</h3></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/el-instituto/ubicacion">Ubicación</a></li>
                                            <li><a href="http://www.educa.jcyl.es/es/informacion/calendario-escolar-2014-2015">Calendario Escolar 2014-2015</a></li>          
                                            <li><a href="/index.html#calendario">Calendario del Centro</a></li>                                                                                        
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/el-instituto/biblioteca">Biblioteca</a></li>

                                        </ul>
                                        <ul class="col-sm-4">
                                            <li><h3><i class="fa fa-users"></i> Órganos</h3></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/comunidad-educativa/equipo-directivo">Equipo Directivo</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/comunidad-educativa/departamentos-y-familias-profesionales">Depatamentos y profesorado</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/comunidad-educativa/consejo-escolar">Consejo Escolar</a></li>
                                        </ul>
                                        <ul class="col-sm-4">
                                            <li><h3><i class="fa fa-folder-open"></i> Documentos del Centro</h3></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/el-instituto/programacion-general-anual-2012-2013">Programación General Anual</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/el-instituto/reglamento-de-regimen-interior">Reglamento de Régimen Interior</a></li>
                                        </ul>
                                    </div><!-- end row -->
                                </div><!-- end yamm-content -->
                            </li>
                        </ul><!-- end drop down menu -->
                    </li><!-- end drop down -->
                    <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">E.S.O. <div class="arrow-up"></div></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <ul class="col-sm-8">
                                            <li><h3><i class="fa fa-calendar"></i> Curso 2014-2015</h3></li>
                                            <li><a href="http://www.educa.jcyl.es/es/informacion/calendario-escolar-2014-2015">Calendario escolar</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/oferta-educativa/e-s-o">Estructura</a></li>
                                            <li><a href="/paginas/general/admision20142015/">Proceso de admisión</a></li>
                                            <li><a href="#">Horarios, aulas y tutores (no disponible aún)</a></li>
                                            <li><a href="/paginas/general/librosDeTexto20142015/">Libros de texto</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/e-s-o/orientacion-academica">Orientación académica</a></li>

                                        </ul>
                                        <ul class="col-sm-4">
                                            <li><h3><i class="fa fa-calendar-o"></i> Curso 2013-2014</h3></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/el-instituto/calendario-escolar-del-curso-2013-2014">Calendario escolar</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/oferta-educativa/e-s-o">Estructura</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/e-s-o/libros-de-texto">Libros de texto</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/e-s-o/orientacion-academica">Orientación académica</a></li>
                                        </ul>
                                    </div><!-- end row -->
                                </div><!-- end yamm-content -->
                            </li>
                        </ul><!-- end drop down menu -->
                    </li><!-- end drop down -->
                    <!-- standard drop down -->
                    <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Bachillerato <div class="arrow-up"></div></a>
                           <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <ul class="col-sm-8">
                                            <li><h3><i class="fa fa-calendar"></i> Curso 2014-2015</h3></li>
                                            <li><a href="http://www.educa.jcyl.es/es/informacion/calendario-escolar-2014-2015">Calendario escolar</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/oferta-educativa/bachillerato">Estructura</a></li>
                                            <li><a href="/paginas/general/admision20142015/">Proceso de admisión</a></li>
                                            <li><a href="#">Horarios, aulas y tutores (no disponible aún)</a></li>
                                            <li><a href="/paginas/general/librosDeTexto20142015/">Libros de texto</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/bachillerato/orientacion-academica-y-profesional">Orientación académica</a></li>
                                            <li><a href="/paginas/comenius">Proyecto Comenius</a></li>                                            
                                        </ul>
                                        <ul class="col-sm-4">
                                            <li><h3><i class="fa fa-calendar-o"></i> Curso 2013-2014</h3></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/el-instituto/calendario-escolar-del-curso-2013-2014">Calendario escolar</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/oferta-educativa/bachillerato">Estructura</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/bachillerato/libros-de-texto-para-bachillerato">Libros de texto</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/e-s-o/orientacion-academica">Orientación académica</a></li>
                                        </ul>                                           
                                    </div><!-- end row -->
                                </div><!-- end yamm-content -->
                            </li>
                        </ul><!-- end drop down menu -->
                    </li><!-- end standard drop down -->
                   <li class="dropdown yamm-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">F.P. Informática <div class="arrow-up"></div></a>
                           <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <ul class="col-sm-12">
                                            <li><h3><i class="fa fa-cubes"></i> Oferta educativa</h3></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/oferta-educativa/ciclo-formativo-de-grado-medio-de-sistemas-microinformaticos-y-redes">CF Grado Medio "Sistemas Microinformáticos y Redes"</a></li>
                                           <li><a href="https://sites.google.com/a/iessanandres.com/web/oferta-educativa/c-f-de-grado-superior-de-administracion-de-sistemas-informaticos-en-red">CF Grado Superior "Administración de Sistemas Informáticos en Red"</a></li>
                                           <li><a href="https://sites.google.com/a/iessanandres.com/web/oferta-educativa/c-f-de-grado-superior-de-desarrollo-de-aplicaciones-multiplataforma">CF Grado Superior "Desarrollo de Aplicaciones Multiplataforma"</a></li>                                           
                                        </ul>                                        
                                        <ul class="col-sm-8">
                                            <li><h3><i class="fa fa-calendar"></i> Curso 2014-2015</h3></li>
                                            <li><a href="http://www.educa.jcyl.es/es/informacion/calendario-escolar-2014-2015">Calendario escolar</a></li>                                           
                                            <li><a href="https://6270dac08034eb261a315b389159e8ad45c7b93d.googledrive.com/host/0BwMgXZ83HVDlSW9UM0RERl9xYzg/">Proceso de admisión</a></li>
                                            <li><a href="#">Horarios, aulas y tutores (no disponible aún)</a></li>
                                            <li><a href="/paginas/general/librosDeTexto20142015/">Libros de texto</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/formacion-profesional/formacion-en-centros-de-trabajo-f-c-t">Formación en Centros de Trabajo</a></li>
                                            <li><a href="/paginas/erasmus/">Programa Erasmus</a></li>            
                                            <li><a href="#">Calendario de exámenes de septiembre (no disponible aún)</a></li>                         
                                           <li><a href="https://sites.google.com/a/iessanandres.com/web/formacion-profesional/normativa">Normativa</a></li>                                                                                   
                                        </ul>
                                        <ul class="col-sm-4">
                                            <li><h3><i class="fa fa-calendar-o"></i> Curso 2013-2014</h3></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/el-instituto/calendario-escolar-del-curso-2013-2014">Calendario escolar</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/formacion-profesional/libros-de-texto-para-formacion-profesional">Libros de texto</a></li>
                                            <li><a href="/paginas/general/examenesSeptiembre2014/">Calendario de exámenes de septiembre</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/e-s-o/orientacion-academica">Orientación académica</a></li>
                                            <li><a href="https://sites.google.com/a/iessanandres.com/web/formacion-profesional/acceso-a-la-universidad-fp">Acceso a la Universidad</a></li>                                                
                                        </ul>                                           
                                    </div><!-- end row -->
                                </div><!-- end yamm-content -->
                            </li>
                        </ul><!-- end drop down menu -->
                    </li><!-- end standard drop down -->

                    <!-- standard drop down -->
                    <li><a href="http://admiessanandres.tk/">F.P. Administración</a></li>
                </ul><!-- end navbar-nav -->
            </div><!-- #navbar-collapse-1 -->           </nav><!-- end navbar yamm navbar-default -->
    </div><!-- end container -->
</header><!-- end header-style-1 -->
