---
layout: default
published: true
---











<section class="slider-wrapper">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,700,800,900' rel='stylesheet' type='text/css'>

    <!--
    #################################
        - THEMEPUNCH BANNER -
    #################################
    -->
    <div class="tp-banner-container">
        <div class="tp-banner" >
            <ul>    <!-- SLIDE  -->
  
    <!-- SLIDE  -->

    <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-thumb="homeslider_thumb1.jpg"  data-saveperformance="on"  data-title="IES San Andrés"> 
        <!-- MAIN IMAGE -->


        <img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png"  alt="laptopmockup_sliderdy" data-lazyload="/imagenes/iesAlargadaNieve.jpg" data-bgposition="center top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
        <!-- LAYERS -->



        <!-- LAYER NR. 2 -->
        <div class="tp-caption green_bold_bg_70  customin fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="662"
            data-y="204" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">desde 1980
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption black_heavy_70 skewfromleftshort fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="70"
            data-y="143" 
            data-speed="500"
            data-start="1500"
            data-easing="Power3.easeInOut"
            data-splitin="chars"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Educación pública de calidad
        </div>

        <!-- LAYER NR. 5 -->
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="700"
            data-y="325" 
            data-speed="300"
            data-start="4000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">ESO
        </div>

        <!-- LAYER NR. 6 -->
        <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="669"
            data-y="325" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 7 -->
        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
            data-x="678"
            data-y="332" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 8;"><img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/check.png">
        </div>

        <!-- LAYER NR. 8 -->
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="700"
            data-y="365" 
            data-speed="300"
            data-start="4500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Bachillerato
        </div>

        <!-- LAYER NR. 9 -->
        <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="669"
            data-y="365" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 10 -->
        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
            data-x="678"
            data-y="372" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4700"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 11;"><img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/check.png">
        </div>

        <!-- LAYER NR. 11 -->
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="700"
            data-y="405" 
            data-speed="300"
            data-start="5000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">Ciclos Formativos
        </div>

        <!-- LAYER NR. 12 -->
        <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="669"
            data-y="405" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="5000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 13; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 13 -->
        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
            data-x="678"
            data-y="412" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="5200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 14;"><img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/check.png">
        </div>
    </li>
    <!-- SLIDE  -->




<li data-transition="slideleft" data-slotamount="7" data-masterspeed="2000" data-thumb="homeslider_thumb2.jpg" data-delay="10000"  data-saveperformance="on"  data-title="Ken Burns Slide">
        <!-- MAIN IMAGE -->
        <img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png"  alt="laptopmockup_sliderdy" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/laptopmockup_sliderdy.jpg" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
        <!-- LAYERS -->


        <!-- LAYER NR. 2 -->
        <div class="tp-caption green_bold_bg_70 customin fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="862"
            data-y="204" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="2850"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">Moodle
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption black_heavy_70 skewfromleftshort fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="717"
            data-y="143" 
            data-speed="500"
            data-start="2400"
            data-easing="Power3.easeInOut"
            data-splitin="chars"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">Aula Virtual
        </div>


        <!-- LAYER NR. 5 -->
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="870"
            data-y="367" 
            data-speed="300"
            data-start="4000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">Aprendizaje colaborativo
        </div>

        <!-- LAYER NR. 6 -->
        <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="839"
            data-y="367" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 7 -->
        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
            data-x="848"
            data-y="374" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 8;"><img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/check.png">
        </div>

        <!-- LAYER NR. 8 -->
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="870"
            data-y="407" 
            data-speed="300"
            data-start="4500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">Blended learning
        </div>

        <!-- LAYER NR. 9 -->
        <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="839"
            data-y="407" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 10 -->
        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
            data-x="848"
            data-y="414" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4700"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 11;"><img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/check.png">
        </div>

        <!-- LAYER NR. 11 -->
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="870"
            data-y="447" 
            data-speed="300"
            data-start="5000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;">24 horas online
        </div>

        <!-- LAYER NR. 12 -->
        <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="839"
            data-y="447" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="5000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 13; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 13 -->
        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
            data-x="848"
            data-y="454" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="5200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 14;"><img src="images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/check.png">
        </div>
    </li>







</ul>
<div class="tp-bannertimer"></div>  </div>
</div>  









































    
</section><!-- end slider-wrapper -->





<section class="white-wrapper padding-top-0">
    <div class="container">        
        <div class="general-title padding-top">
            <h2>Destacado</h2>
            <hr>
        </div><!-- end general title -->

        <div class="shop_wrapper padding-top">

            <!--  DESTACADO -->

            {% capture destacado %}{% include  contenido/destacado.md %}{% endcapture %}
            {{ destacado | markdownify }}

            <!--  DESTACADO -->

    </div><!-- end container -->
</section><!-- end white-wrapper --> 




  


    <!--  NOTICIAS Y OFERTA EDUCATIVA -->

    {% capture noticias %}{% include  contenido/noticias.md %}{% endcapture %}
    {{ noticias | markdownify }}

    <!--  FIN NOTICIAS Y OFERTA EDUCATIVA -->






    <!--  CALENDARIO DE EVENTOS -->


    <!--  FIN DEL CALENDARIO DE EVENTOS -->