---
layout: default
---


 
<section id="slider-portada">
    <section class="white-wrapper">
            
        <div class="portfolio_wrapper">
            <div class="portfolio_item photography">
                <div class="entry">
                    <img src="/imagenes/iesCuadrado.jpg" alt="" class="img-responsive">
                    <div class="magnifier">
                        <div class="buttons">
                            <a class="st btn btn-default" rel="bookmark" href="https://sites.google.com/a/iessanandres.com/web/el-instituto/ubicacion#">El Instituto</a>
                            <h3>Conoce dónde estamos y cómo llegar a nuestro Centro</h3>
                        </div><!-- end buttons -->
                    </div><!-- end magnifier -->
                </div><!-- end entry -->
            </div><!-- end portfolio_item -->

<!--            <div class="portfolio_item photography">
                <div class="entry">
                    <img src="/imagenes/location.jpg" alt="" class="img-responsive">
                    <div class="magnifier">
                        <div class="buttons">
                            <a class="st btn btn-default" rel="bookmark" href="portfolio-single-sidebar.html">Ubicación</a>
                            <h3>Descubre dónde está ubicado nuestro Instituto</h3>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="portfolio_item photography">
                <div class="entry">
                    <img src="/imagenes/comeniusCuadrado.png" alt="" class="img-responsive">
                    <div class="magnifier">
                        <div class="buttons">
                            <a class="st btn btn-default" rel="bookmark" href="/paginas/comenius/">Comenius</a>
                            <h3>Conoce "Drops", nuestro proyecto Comenius junto a otros 7 países europeos</h3>
                        </div><!-- end buttons -->
                    </div><!-- end magnifier -->
                </div><!-- end entry -->
            </div><!-- end portfolio_item -->                        

            
            <div class="portfolio_item app-design">
                <div class="entry">
                    <img src="/imagenes/moodle2.jpg" alt="" class="img-responsive">
                    <div class="magnifier">
                        <div class="buttons">
                            <a class="st btn btn-default" rel="bookmark" href="http://sanandresies.gnomio.com/">Aula Virtual</a>
                            <h3>Accede a nuestra plataforma online, complemento de las clases presenciales</h3>
                        </div><!-- end buttons -->
                    </div><!-- end magnifier -->
                </div><!-- end entry -->
            </div><!-- end portfolio_item -->
            
            <div class="portfolio_item app-design">
                <div class="entry">
                    <img src="/imagenes/graduacionCuadrado.jpg" alt="" class="img-responsive">
                    <div class="magnifier">
                        <div class="buttons">
                            <a class="st btn btn-default" rel="bookmark" href="https://drive.google.com/folderview?id=0B0f548CU87RIVm1CcnZoZXl4Wnc&usp=drive_web#grid">Graduación 2014</a>
                            <h3>Visualiza las fotos que realizamos en el Acto de Graduación 2014</h3>
                        </div><!-- end buttons -->
                    </div><!-- end magnifier -->
                </div><!-- end entry -->
            </div><!-- end portfolio_item -->

            <div class="portfolio_item logo">
                <div class="entry">
                    <img src="/imagenes/twitter.jpg" alt="" class="img-responsive">
                    <div class="magnifier">
                        <div class="buttons">
                            <a class="st btn btn-default" rel="bookmark" href="https://twitter.com/iessanandres">Twitter</a>
                            <h3>Síguenos en Twitter para estar informado del dia a día del Instituto</h3>
                        </div><!-- end buttons -->
                    </div><!-- end magnifier -->
                </div><!-- end entry -->
            </div><!-- end portfolio_item -->            

            <div class="portfolio_item logo">
                <div class="entry">
                    <img src="/imagenes/erasmus.jpg" alt="" class="img-responsive">
                    <div class="magnifier">
                        <div class="buttons">
                            <a class="st btn btn-default" rel="bookmark" href="/paginas/erasmus/">Programa Erasmus</a>
                            <h3>Entérate de cómo puedes realizar las prácticas de FP en Europa</h3>
                        </div><!-- end buttons -->
                    </div><!-- end magnifier -->
                </div><!-- end entry -->
            </div><!-- end portfolio_item -->     

            <div class="portfolio_item photography">
                <div class="entry">
                    <img src="/imagenes/bilinguismoCuadrado.jpg" alt="" class="img-responsive">
                    <div class="magnifier">
                        <div class="buttons">
                            <a class="st btn btn-default" rel="bookmark" href="https://drive.google.com/open?id=1t3mk7u4adtUKU-ukNez-aVneINoghoyreFTMHssDD80&authuser=0">Bilinguismo</a>
                            <h3>Conoce los detalles de nuestro programa de bilingüismo</h3>
                        </div><!-- end buttons -->
                    </div><!-- end magnifier -->
                </div><!-- end entry -->
            </div><!-- end portfolio_item -->                   
            
            <div class="portfolio_item logo">
                <div class="entry">
                    <img src="/imagenes/certificacionTIC42.jpg" alt="" class="img-responsive">
                    <div class="magnifier">
                        <div class="buttons">
                            <a class="st btn btn-default" rel="bookmark" href="http://www.educa.jcyl.es/es/programas/certificacion-aplicacion-tic.ficheros/495231-BOCYL-D-09062014-23.pdf">Certificación TIC</a>
                            <h3>Somos uno de los 2 institutos de la ciudad de León con certificación TIC de nivel 4</h3>
                        </div><!-- end buttons -->
                    </div><!-- end magnifier -->
                </div><!-- end entry -->
            </div><!-- end portfolio_item -->
            

            <div class="portfolio_item logo">
                <div class="entry">
                    <img src="/imagenes/librosTexto.jpg" alt="" class="img-responsive">
                    <div class="magnifier">
                        <div class="buttons">
                            <a class="st btn btn-default" rel="bookmark" href="/paginas/general/librosDeTexto20142015">Libros de texto</a>
                            <h3>Consulta los libros de texto vigentes para el presente curso escolar</h3>
                        </div><!-- end buttons -->
                    </div><!-- end magnifier -->
                </div><!-- end entry -->
            </div><!-- end portfolio_item -->
            
            <div class="portfolio_item logo">
                <div class="entry">
                    <img src="/imagenes/tarjeta.jpg" alt="" class="img-responsive">
                    <div class="magnifier">
                        <div class="buttons">
                            <a class="st btn btn-default" rel="bookmark" href="http://www.solclimp.com/">SolClimp</a>
                            <h3>Conoce SolClimp, la empresa simulada del módulo "Empresa en el Aula"</h3>
                        </div><!-- end buttons -->
                    </div><!-- end magnifier -->
                </div><!-- end entry -->
            </div><!-- end portfolio_item -->
            
            <div class="portfolio_item photography app-design">
                <div class="entry">
                    <img src="/imagenes/revista.jpg" alt="" class="img-responsive">
                    <div class="magnifier">
                        <div class="buttons">
                            <a class="st btn btn-default" rel="bookmark" href="http://www.flipgorilla.com/p/23023990364723680/show">Revista del Centro</a>
                            <h3>Accede a ver online RIES, la revista digital del Instituto</h3>
                        </div><!-- end buttons -->
                    </div><!-- end magnifier -->
                </div><!-- end entry -->
            </div><!-- end portfolio_item -->     
            
            <div class="portfolio_item logo">
                <div class="entry">
                    <img src="/imagenes/calendarioCuadrado.jpg" alt="" class="img-responsive">
                    <div class="magnifier">
                        <div class="buttons">
                            <a class="st btn btn-default" rel="bookmark" href="http://www.educa.jcyl.es/es/calendario-escolar-3496e">Calendario escolar</a>
                            <h3>Consulta el calendario escolar del curso 2014-2015</h3>
                        </div><!-- end buttons -->
                    </div><!-- end magnifier -->
                </div><!-- end entry -->
            </div><!-- end portfolio_item -->                    
        </div><!-- portfolio_wrapper -->
        
        <div class="clearfix"></div>
    </section><!-- end white-wrapper -->
</section>    


    <section class="white-wrapper">
        <div class="container">
            <div class="messagebox">
                <h2>Educación <mark>pública</mark> de calidad desde 1980</h2>
                <p class="lead">El IES San Andrés es un Instituto ubicado en la localidad de Villabalter, en el municipio de San Andrés del Rabanedo, a unos cinco kilómetros de la ciudad de León, que imparte Educación Secundaria Obligatoria (E.S.O.), Bachillerato y Ciclos Formativos de las familias de "Informática y Comunicaciones" y de "Administración y Gestión"</p>
                <a class="btn btn-primary btn-lg" href="https://sites.google.com/a/iessanandres.com/web/el-instituto/ubicacion">Ubicación</a> 
                <a class="btn btn-dark btn-lg" href="#contacto">Contacto</a>

            </div><!-- end messagebox -->
        </div><!-- end container -->
    </section><!-- end white-wrapper -->


    <section class="grey-wrapper jt-shadow">
        <div class="container">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" id="ultimas-noticias">
                <div class="widget">
                    <h3>NOTICIAS Y EVENTOS</h3>
                    <div id="accordion-first" class="clearfix">
                        <div class="accordion" id="accordion2">



                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"

                              href="#becasMEC2014">

                                <em class="fa fa-plus icon-fixed-width"></em><span>Convocatoria de becas MEC para el curso 2014-2015</span>
                              </a> 
                            </div>
                            <div class="accordion-body collapse"

                            id="becasMEC2014">

                              <div class="accordion-inner">
                                    <p>Como todos los años, se han convocado la becas MEC de caracter general para estudiantes que cursen Bachillerato o Ciclos Formativos en el curso 2014-2015. En la <a href="http://www.boe.es/boe/dias/2014/08/07/pdfs/BOE-A-2014-8548.pdf">Resolución del 28 de julio de 2014 del BOE del jueves 7 de agosto de 2014</a> están disponibles las bases de dicha convocatoria.</p>

                                    <p>El plazo para solicitar estas becas concluye el 30 de septiembre de 2014.</p>

                                    <p><strong>Importante:</strong> aquellos alumnos que deseen solicitar las becas de la Junta de Castilla y León que se publicarán mas adelante deben obligatoriamente solicitar previamente estas becas MEC.</p>
                                                                  </div>
                            </div>
                          </div>




                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#matriculacion-20142015">
                                <em class="fa fa-plus icon-fixed-width"></em><span>Proceso de matrículación para el curso 2014-2015</span>
                              </a> 
                            </div>
                            <div id="matriculacion-20142015" class="accordion-body collapse">
                              <div class="accordion-inner">
                                <p>La información relativa al proceso de matriculación para el curso 2014-2015 está disponible en el siguiente enlace:</p>
                                <ul>
                                  <li><a href="/paginas/general/matricula20142015">Matrícula para el curso 2014-2015</a>
                                  </li>
                                </ul>  
                              </div>
                            </div>
                          </div>



                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#admision-20142015">
                                <em class="fa fa-plus icon-fixed-width"></em><span>Proceso de admisión de nuevos alumnos para el curso 2014-2015</span>
                              </a> 
                            </div>
                            <div id="admision-20142015" class="accordion-body collapse">
                              <div class="accordion-inner">
                                <p>La información relativa al proceso de admisión de nuevos alumnos en Educación Secundaria Obligatoria y en Bachillerato para el curso 2014-2015 está disponible en el siguiente enlace:</p>
                                <ul>
                                  <li><a href="/paginas/general/admision20142015/">Proceso de admisión en ESO y Bachillerato para el curso 2014-2015</a>
                                  </li>
                                </ul>  
                                <p>La información relativa al proceso de admisión en Formación Profesional está disponible en los siguientes enlaces:</p>

                                  <li><a href="https://6270dac08034eb261a315b389159e8ad45c7b93d.googledrive.com/host/0BwMgXZ83HVDlSW9UM0RERl9xYzg/">Listado provisional de alumnos admitidos en FP</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>


                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#examenes-septiembre-2014">
                                <em class="fa fa-plus icon-fixed-width"></em><span>Calendario de examenes de septiembre 2014</span>
                              </a> 
                            </div>
                            <div id="examenes-septiembre-2014" class="accordion-body collapse">
                              <div class="accordion-inner">
                                <p>Consulta el calendario de exámenes correspondientes a la convocatoria extraordinaria de septiembre a realizar los días 1 y 2 de septiembre de 2014 en los siguientes enlaces:</p>
                                <ul>
                                  <li><a href="https://6cc87fdba3d70189b47f81ea3d5823e396e895b6.googledrive.com/host/0BwMgXZ83HVDlVEloWGhNMjU5cXc/EX%C3%81MENES_ESO_SEPTIEMBRE_2014.pdf">Calendario de exámenes de septiembre 2014 para la ESO</a>
                                  </li>
                                  <li><a href="https://6cc87fdba3d70189b47f81ea3d5823e396e895b6.googledrive.com/host/0BwMgXZ83HVDlVEloWGhNMjU5cXc/EX%C3%81MENES_BACH_SEP_2014.pdf">Calendario de exámenes de septiembre 2014 para Bachillerato</a>
                                  </li>
                                  <li><a href="/paginas/general/examenesSeptiembre2014">Calendario de exámenes de septiembre 2014 para Ciclos Formativos</a>
                                  </li>                                                                    
                                </ul>
                              </div>
                            </div>
                          </div>


                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#libros20142015">
                                <em class="fa fa-plus icon-fixed-width"></em><span>Libros de texto para el curso 2014-2015</span>
                              </a>
                            </div>
                            <div id="libros20142015" class="accordion-body collapse">
                              <div class="accordion-inner">

                                {% capture libros20142015 %}{% include  contenido/libros20142015.html %}{% endcapture %}
                                {{ libros20142015 | markdownify }}

                              </div>
                            </div>
                          </div>


                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#releo">
                                <em class="fa fa-plus icon-fixed-width"></em><span>Información sobre el programa "Releo" para la reutilización de libros de texto</span>
                              </a>
                            </div>
                            <div id="releo" class="accordion-body collapse">
                              <div class="accordion-inner">
                                 <p>El próximo curso escolar, 2014-2015, el IES San Andrés volverá a poner en marcha un “banco de libros” que garantice a todos nuestros alumnos de ESO (Educación Secundaria Obligatoria) la posibilidad de disponer de los materiales necesarios para cursar sus estudios con éxito.</p>

                                  <p>En esta ocasión dicha iniciativa se ajustará al programa de reutilización de libros de texto conocido como Programa "Releo", regulado en la ORDEN EDU/355/2014, de 9 de mayo, que establece las condiciones de donación y préstamo de:</p>

                                  <ul>
                                    <li>
                                      <p>Libros de texto, siempre que estén en vigor y puedan ser reutilizables.</p>
                                    </li>
                                    <li>
                                      <p>Otros materiales curriculares, como atlas, mapas, diccionarios y/o libros de lectura, tanto impresos como en soporte digital.</p>
                                    </li>
                                  </ul>

                                  <p>Los materiales donados al centro educativo pasarán a ser propiedad de éste, que se encargará de su gestión y de comprobar el buen estado de los mismos en el momento de la donación, así como al recuperar los cedidos en préstamo.</p>

                                  <p>El intercambio de materiales se realizará en el despacho del AMPA, de 11 a 12’30h., en las siguientes fechas:</p>

                                  <ul>
                                    <li>
                                      <p>23, 25, 26, 27 y 30 de junio de 2014:</p>

                                      <ul>
                                        <li>
                                          <p>donación de materiales</p>
                                        </li>
                                        <li>
                                          <p>devolución de préstamos (siempre y cuando estos no sean necesarios para preparar las pruebas extraordinarias de septiembre)</p>
                                        </li>
                                      </ul>
                                    </li>
                                    <li>
                                      <p>4, 5, 8, 9 y 10 de septiembre:</p>

                                      <ul>
                                        <li>
                                          <p>devolución de préstamos que se hayan mantenido durante el verano para preparar las pruebas se septiembre</p>
                                        </li>
                                        <li>
                                          <p>préstamo de materiales para el nuevo curso</p>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>

                                  <p>En el momento de recibir materiales en préstamo, es requisito obligatorio que las familias firmen un compromiso de buen uso de dicho material.</p>

                              </div>
                            </div>
                          </div>
 


                        </div><!-- end accordion -->
                    </div><!-- end accordion first -->
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
            
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" id="oferta-educativa">
                <div class="widget">
                    <h3>OFERTA EDUCATIVA</h3>
                    <div id="owl-blog" class="owl-carousel">


                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/esoAlumnos.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    ESO
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.mecd.gob.es/educacion-mecd/areas-educacion/sistema-educativo/ensenanzas/educacion-secundaria-obligatoria.html">Educación Secundaria Obligatoria </a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa-calendar"></i> 4 cursos académicos</span>
                                    <span><i class="fa fa-group"></i> <a href="#">3 o 4 grupos por nivel en horario de mañana</a></span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc">
                                <p>La Educación Secundaria Obligatoria (ESO) es una etapa educativa obligatoria y gratuita que completa la educación básica. Se realiza ordinariamente entre los 12 y los 16 años de edad. </p>
                            </div><!-- end blog-carousel-desc -->
                        </div><!-- end blog-carousel -->


                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/bachCITAlumnos.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    BACH
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.mecd.gob.es/educacion-mecd/areas-educacion/sistema-educativo/ensenanzas/bachillerato.html">Bachillerato de Ciencias y Tecnología</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa-calendar"></i> 2 cursos académicos</span>
                                    <span><i class="fa fa-group"></i> <a href="#">1 grupo por nivel en horario de mañana</a></span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc">
                                <p>El bachillerato forma parte de la educación secundaria postobligatoria y, por lo tanto, tiene carácter voluntario. Se realiza ordinariamente entre los 16 y 18 años de edad.</p>
                            </div><!-- end blog-carousel-desc -->
                        </div><!-- end blog-carousel -->     


                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/bachHCSAlumnos.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    BACH
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.mecd.gob.es/educacion-mecd/areas-educacion/sistema-educativo/ensenanzas/bachillerato.html">Bachillerato de Humanidades y Ciencias Sociales</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa-calendar"></i> 2 cursos académicos</span>
                                    <span><i class="fa fa-group"></i> <a href="#">1 grupo por nivel en horario de mañana</a></span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc">
                                <p>El bachillerato forma parte de la educación secundaria postobligatoria y, por lo tanto, tiene carácter voluntario. Se realiza ordinariamente entre los 16 y 18 años de edad.</p>
                            </div><!-- end blog-carousel-desc -->
                        </div><!-- end blog-carousel -->  


                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/gaImagen.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    FP
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/administracion-gestion/gestion-administrativa-loe.html">Ciclo Formativo de Grado Medio de "Gestión Administrativa"</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa-calendar"></i> 2 cursos académicos</span>
                                    <span><i class="fa fa-group"></i> <a href="#">1 grupo por nivel en horario de tarde</a></span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc">
                                <p>El titulo de Técnico Superior en Administración y finanzas que se obtiene con este ciclo formativo faculta para organizar y realizar la administración y gestión de personal, de las operaciones económico-financieras y de la información y asesoramiento a clientes o usuarios de una empresa.</p>
                            </div><!-- end blog-carousel-desc -->
                        </div><!-- end blog-carousel -->     


                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/afiImagen.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    FP
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/administracion-gestion/administracion-finanzas-loe.html">Ciclo Formativo de Grado Superior de "Administración y Finanzas"</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa-calendar"></i> 2 cursos académicos</span>
                                    <span><i class="fa fa-group"></i> <a href="#">1 grupo por nivel en horario de tarde</a></span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc">
                                <p>El titulo de Técnico Superior en Administración y finanzas que se obtiene con este ciclo formativo faculta para organizar y realizar la administración y gestión de personal, de las operaciones económico-financieras y de la información y asesoramiento a clientes o usuarios de una empresa.</p>
                            </div><!-- end blog-carousel-desc -->
                        </div><!-- end blog-carousel -->        


                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/smrImagen.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    FP
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/informatica-comunicaciones/sistemas-microinformaticos-redes.html">Ciclo Formativo de Grado Medio de "Sistemas Microinformáticos y Redes"</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa-calendar"></i> 2 cursos académicos</span>
                                    <span><i class="fa fa-group"></i> <a href="#">1 grupo por nivel en horario de mañana</a></span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc">
                                <p>El titulo de Técnico Superior en Administración y finanzas que se obtiene con este ciclo formativo faculta para organizar y realizar la administración y gestión de personal, de las operaciones económico-financieras y de la información y asesoramiento a clientes o usuarios de una empresa.</p>
                            </div><!-- end blog-carousel-desc -->
                        </div><!-- end blog-carousel -->


                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/asirImagen.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    FP
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/informatica-comunicaciones/administracion-de-sistemas-inform-red.html">Ciclo Formativo de Grado Superior de "Administración de Sistemas Informáticos en Red"</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa-calendar"></i> 2 cursos académicos</span>
                                    <span><i class="fa fa-group"></i> <a href="#">1 grupo por nivel en horario de mañana</a></span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc">
                                <p>El titulo de Técnico Superior en Administración y finanzas que se obtiene con este ciclo formativo faculta para organizar y realizar la administración y gestión de personal, de las operaciones económico-financieras y de la información y asesoramiento a clientes o usuarios de una empresa.</p>
                            </div><!-- end blog-carousel-desc -->
                        </div><!-- end blog-carousel -->


                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/damImagen.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="blog-single-sidebar.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    FP
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/informatica-comunicaciones/desarrollo-aplicaciones-multiplataforma.html">Ciclo Formativo de Grado Superior de "Desarrollo de Aplicaciones Multiplataforma"</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa-calendar"></i> 2 cursos académicos</span>
                                    <span><i class="fa fa-group"></i> <a href="#">1 grupo por nivel en horario de mañana</a></span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc">
                                <p>El titulo de Técnico Superior en Administración y finanzas que se obtiene con este ciclo formativo faculta para organizar y realizar la administración y gestión de personal, de las operaciones económico-financieras y de la información y asesoramiento a clientes o usuarios de una empresa.</p>
                            </div><!-- end blog-carousel-desc -->
                        </div><!-- end blog-carousel -->                                                                                                                


                    </div><!-- end owl-blog -->
                </div><!-- end widget -->
            </div><!-- end col-lg-6 -->
        </div><!-- end container -->
    </section><!-- end grey-wrapper -->    



