---
layout: default
published: true
---











<section class="slider-wrapper">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,700,800,900' rel='stylesheet' type='text/css'>

    <!--
    #################################
        - THEMEPUNCH BANNER -
    #################################
    -->
    <div class="tp-banner-container">
        <div class="tp-banner"   >
            <ul>    <!-- SLIDE  -->
  
    <!-- SLIDE  -->

    <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-thumb="homeslider_thumb1.jpg"  data-saveperformance="on"  data-title="IES San Andrés"> 
        <!-- MAIN IMAGE -->


        <img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png"  alt="laptopmockup_sliderdy" data-lazyload="/imagenes/iesAlargado.jpg" data-bgposition="center center"  data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="cover" data-bgfitend="100" data-bgpositionend="center bottom">
        <!-- LAYERS -->



        <!-- LAYER NR. 2 -->
        <div class="tp-caption green_bold_bg_70  customin fadeout tp-resizeme "
            data-x="600"
            data-y="134" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 3; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">desde 1980
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption black_heavy_70 skewfromleftshort fadeout tp-resizeme"
            data-x="center"
            data-y="73" 
            data-speed="500"
            data-start="1500"
            data-easing="Power3.easeInOut"
            data-splitin="chars"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 4; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">Educación pública de calidad
        </div>

        <!-- LAYER NR. 5 -->
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme "
            data-x="230"
            data-y="225" 
            data-speed="300"
            data-start="4000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 6; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">ESO
        </div>

        <!-- LAYER NR. 6 -->
        <div class="tp-caption greenbox30 customin fadeout tp-resizeme "
            data-x="200"
            data-y="225" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 7; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 7 -->
        <div class="tp-caption arrowicon customin fadeout "
            data-x="209"
            data-y="232" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 8;"><img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/check.png">
        </div>

        <!-- LAYER NR. 8 -->
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme "
            data-x="230"
            data-y="265" 
            data-speed="300"
            data-start="4500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 9; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">Bachillerato
        </div>

        <!-- LAYER NR. 9 -->
        <div class="tp-caption greenbox30 customin fadeout tp-resizeme "
            data-x="200"
            data-y="265" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 10; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 10 -->
        <div class="tp-caption arrowicon customin fadeout "
            data-x="209"
            data-y="272" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4700"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 11;"><img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/check.png">
        </div>

        <!-- LAYER NR. 11 -->
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme "
            data-x="230"
            data-y="305" 
            data-speed="300"
            data-start="5000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 12; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">Ciclos Formativos de "Administración y Gestión"
        </div>

        <!-- LAYER NR. 12 -->
        <div class="tp-caption greenbox30 customin fadeout tp-resizeme "
            data-x="200"
            data-y="305" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="5000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 13; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 13 -->
        <div class="tp-caption arrowicon customin fadeout "
            data-x="209"
            data-y="312" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="5200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 14;"><img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/check.png">
        </div>

        <!-- LAYER NR. 11 -->
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme "
            data-x="230"
            data-y="345" 
            data-speed="300"
            data-start="5500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 12; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">Ciclos Formativos de "Informática y Comunicaciones"
        </div>

        <!-- LAYER NR. 12 -->
        <div class="tp-caption greenbox30 customin fadeout tp-resizeme "
            data-x="200"
            data-y="345" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="5500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 13; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 13 -->
        <div class="tp-caption arrowicon customin fadeout "
            data-x="209"
            data-y="352" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="5700"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 14;"><img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/check.png">
        </div>        
    </li>
    <!-- SLIDE  -->




<li data-transition="slideleft" data-slotamount="7" data-masterspeed="2000" data-thumb="homeslider_thumb2.jpg" data-delay="10000"  data-saveperformance="on"  data-title="Ken Burns Slide">
        <!-- MAIN IMAGE -->
        <img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png"  alt="laptopmockup_sliderdy" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/laptopmockup_sliderdy.jpg" data-bgposition="center center" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="cover" data-bgfitend="100" data-bgpositionend="center bottom">
        <!-- LAYERS -->


        <!-- LAYER NR. 2 -->
        <div class="tp-caption green_bold_bg_70 customin fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="862"
            data-y="204" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="2850"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 3; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">Moodle
        </div>

        <!-- LAYER NR. 3 -->
        <div class="tp-caption black_heavy_70 skewfromleftshort fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="717"
            data-y="143" 
            data-speed="500"
            data-start="2400"
            data-easing="Power3.easeInOut"
            data-splitin="chars"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 4; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">Aula Virtual
        </div>


        <!-- LAYER NR. 5 -->
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="770"
            data-y="367" 
            data-speed="300"
            data-start="4000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 6; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">Aprendizaje colaborativo
        </div>

        <!-- LAYER NR. 6 -->
        <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="739"
            data-y="367" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 7; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 7 -->
        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
            data-x="748"
            data-y="374" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 8;"><img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/check.png">
        </div>

        <!-- LAYER NR. 8 -->
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="770"
            data-y="407" 
            data-speed="300"
            data-start="4500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 9; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">Blended learning
        </div>

        <!-- LAYER NR. 9 -->
        <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="739"
            data-y="407" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4500"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 10; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 10 -->
        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
            data-x="748"
            data-y="414" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="4700"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 11;"><img src="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/check.png">
        </div>

        <!-- LAYER NR. 11 -->
        <div class="tp-caption black_bold_bg_20 sfr fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="770"
            data-y="447" 
            data-speed="300"
            data-start="5000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 12; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">24 horas online
        </div>

        <!-- LAYER NR. 12 -->
        <div class="tp-caption greenbox30 customin fadeout tp-resizeme rs-parallaxlevel-10"
            data-x="739"
            data-y="447" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="5000"
            data-easing="Power3.easeInOut"
            data-splitin="none"
            data-splitout="none"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 13; visibility: hidden; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
        </div>

        <!-- LAYER NR. 13 -->
        <div class="tp-caption arrowicon customin fadeout rs-parallaxlevel-10"
            data-x="748"
            data-y="454" 
            data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
            data-speed="300"
            data-start="5200"
            data-easing="Power3.easeInOut"
            data-elementdelay="0.1"
            data-endelementdelay="0.1"
            data-endspeed="300"
            style="z-index: 14;"><img src="images/dummy.png" alt="" data-ww="17" data-hh="17" data-lazyload="/theme/slider-revolution-responsive-jquery-plugin-v4.5.3/examples%26source/images/check.png">
        </div>
    </li>







</ul>
<div class="tp-bannertimer"></div>  </div>
</div>  


  <script type="text/javascript">
  var revapi;
  jQuery(document).ready(function() {
    revapi = jQuery('.tp-banner').revolution(
    {
      delay:9000,
      startwidth:1170,
      startheight:600,
      hideThumbs:10,
      fullWidth:"on",
      forceFullWidth:"on"
    });


  }); //ready
  </script>









































    
</section><!-- end slider-wrapper -->





<section class="white-wrapper padding-top-0">
    <div class="container">        
        <div class="general-title padding-top">
            <h2>Destacado</h2>
            <hr>
        </div><!-- end general title -->

        <div class="shop_wrapper padding-top">

            <!--  DESTACADO -->

            {% capture destacado %}{% include  contenido/destacado.md %}{% endcapture %}
            {{ destacado | markdownify }}

            <!--  DESTACADO -->

    </div><!-- end container -->
</section><!-- end white-wrapper --> 


  
<section class="grey-wrapper padding-top-0 jt-shadow" id="ultimas-noticias">>
    <div class="container">
        <div class="general-title">
            <h2>Actualidad</h2>
            <hr>
        </div><!-- end general title -->

        <div class="shop_wrapper padding-top">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                <div class="widget">                                    
                    <div id="accordion-second" class="clearfix">
                        <div class="accordion" id="accordion2">

    <!--  NOTICIAS Y OFERTA EDUCATIVA -->

    {% capture noticias %}{% include  contenido/noticias.md %}{% endcapture %}
    {{ noticias | markdownify }}

    <!--  FIN NOTICIAS Y OFERTA EDUCATIVA -->


                        </div><!-- end accordion -->
                    </div><!-- end accordion first -->
                </div><!-- end widget -->
            </div>
    </div><!-- end container -->
</section><!-- end white-wrapper --> 





    <!--  CALENDARIO DE EVENTOS -->


    <!--  FIN DEL CALENDARIO DE EVENTOS -->



<section class="white-wrapper padding-top-0">
    <div class="container">        
        <div class="general-title padding-top">
            <h2>Oferta educativa</h2>
            <hr>
        </div><!-- end general title -->

        <div class="shop_wrapper padding-top">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"        

                <div class="carousel_wrapper">

    
                    <div class="margin-top">
                        <div id="owl_blog_three_line" class="owl-carousel">

                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/esoAlumnos.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="http://www.mecd.gob.es/educacion-mecd/areas-educacion/sistema-educativo/ensenanzas/educacion-secundaria-obligatoria.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    ESO
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.mecd.gob.es/educacion-mecd/areas-educacion/sistema-educativo/ensenanzas/educacion-secundaria-obligatoria.html">Educación Secundaria Obligatoria </a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa fa-clock-o"></i> Horario de mañana</span><br>
                                    <span><i class="fa fa-group"></i> 3 o 4 grupos por nivel</span><br>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                        </div><!-- end blog-carousel -->


                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/bachCITAlumnos.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="http://www.mecd.gob.es/educacion-mecd/areas-educacion/sistema-educativo/ensenanzas/bachillerato.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    BACH
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.mecd.gob.es/educacion-mecd/areas-educacion/sistema-educativo/ensenanzas/bachillerato.html">Bachillerato de Ciencias y Tecnología</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa fa-clock-o"></i> Horario de mañana</span><br>
                                    <span><i class="fa fa-group"></i> 1 grupo por nivel</span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                        </div><!-- end blog-carousel -->     
                        
                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/bachHCSAlumnos.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="http://www.mecd.gob.es/educacion-mecd/areas-educacion/sistema-educativo/ensenanzas/bachillerato.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    BACH
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.mecd.gob.es/educacion-mecd/areas-educacion/sistema-educativo/ensenanzas/bachillerato.html">Bachillerato de Humanidades y Ciencias Sociales</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa fa-clock-o"></i> Horario de mañana</span><br>
                                    <span><i class="fa fa-group"></i> 1 grupo por nivel</span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                        </div><!-- end blog-carousel -->  

                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/gaImagen.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/administracion-gestion/gestion-administrativa-loe.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    FP
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/administracion-gestion/gestion-administrativa-loe.html">Ciclo Formativo de Grado Medio de "Gestión Administrativa"</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa fa-clock-o"></i> Horario de mañana</span><br>
                                    <span><i class="fa fa-group"></i> 1 grupo por nivel</span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                        </div><!-- end blog-carousel -->
                                
                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/afiImagen.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/administracion-gestion/administracion-finanzas-loe.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    FP
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/administracion-gestion/administracion-finanzas-loe.html">Ciclo Formativo de Grado Superior de "Administración y Finanzas"</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa fa-clock-o"></i> Horario de tarde</span><br>
                                    <span><i class="fa fa-group"></i> 1 grupo por nivel</span>
                                </div><!-- end blog-carousel-meta -->
                            </div><!-- end blog-carousel-header -->
                        </div><!-- end blog-carousel -->   

                        <div class="blog-carousel">
                            <div class="entry">
                                <img src="/imagenes/smrImagen.jpg" alt="" class="img-responsive">
                                <div class="magnifier">
                                    <div class="buttons">
                                        <a class="st" rel="bookmark" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/informatica-comunicaciones/sistemas-microinformaticos-redes.html"><i class="fa fa-link"></i></a>
                                    </div><!-- end buttons -->
                                </div><!-- end magnifier -->
                                <div class="post-type">
                                    FP
                                </div><!-- end pull-right -->
                            </div><!-- end entry -->
                            <div class="blog-carousel-header">
                                <h3><a title="" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/informatica-comunicaciones/sistemas-microinformaticos-redes.html">Ciclo Formativo de Grado Medio de "Sistemas Microinformáticos y Redes"</a></h3>
                                <div class="blog-carousel-meta">
                                    <span><i class="fa fa fa-clock-o"></i> Horario de mañana</span><br>
                                    <span><i class="fa fa-group"></i> 1 grupo por nivel</span>
                                  </div><!-- end blog-carousel-meta -->
                              </div><!-- end blog-carousel-header -->
                          </div><!-- end blog-carousel -->

                          <div class="blog-carousel">
                              <div class="entry">
                                  <img src="/imagenes/asirImagen.jpg" alt="" class="img-responsive">
                                  <div class="magnifier">
                                      <div class="buttons">
                                          <a class="st" rel="bookmark" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/informatica-comunicaciones/administracion-sistemas-informaticos.html"><i class="fa fa-link"></i></a>
                                      </div><!-- end buttons -->
                                  </div><!-- end magnifier -->
                                  <div class="post-type">
                                      FP
                                  </div><!-- end pull-right -->
                              </div><!-- end entry -->
                              <div class="blog-carousel-header">
                                  <h3><a title="" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/informatica-comunicaciones/administracion-de-sistemas-inform-red.html">C. F. de Grado Superior de "Administración de Sistemas Informáticos en Red"</a></h3>
                                  <div class="blog-carousel-meta">
                                    <span><i class="fa fa fa-clock-o"></i> Horario de mañana</span><br>
                                    <span><i class="fa fa-group"></i> 1 grupo por nivel</span>
                                  </div><!-- end blog-carousel-meta -->
                              </div><!-- end blog-carousel-header -->
                          </div><!-- end blog-carousel -->

                          <div class="blog-carousel">
                              <div class="entry">
                                  <img src="/imagenes/damImagen.jpg" alt="" class="img-responsive">
                                  <div class="magnifier">
                                      <div class="buttons">
                                          <a class="st" rel="bookmark" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/informatica-comunicaciones/desarrollo-aplicaciones-multiplataforma.html"><i class="fa fa-link"></i></a>
                                      </div><!-- end buttons -->
                                  </div><!-- end magnifier -->
                                  <div class="post-type">
                                      FP
                                  </div><!-- end pull-right -->
                              </div><!-- end entry -->
                              <div class="blog-carousel-header">
                                  <h3><a title="" href="http://www.todofp.es/todofp/que-como-y-donde-estudiar/que-estudiar/familias/informatica-comunicaciones/desarrollo-aplicaciones-multiplataforma.html">C. F. de Grado Superior de "Desarrollo de Aplicaciones Multiplataforma"</a></h3>
                                  <div class="blog-carousel-meta">
                                    <span><i class="fa fa fa-clock-o"></i> Horario de mañana</span><br>
                                    <span><i class="fa fa-group"></i> 1 grupo por nivel</span>
                                  </div><!-- end blog-carousel-meta -->
                              </div><!-- end blog-carousel-header -->
                          </div><!-- end blog-carousel --> 






                        </div><!-- end owl-blog -->
                    </div><!-- end padding-top -->
                </div><!-- end carousel_wrapper -->

        </div>
    </div><!-- end container -->
</section><!-- end white-wrapper -->                